@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Container chính của modal */
.category-modal {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #E0F7FA, #FFFFFF);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding: 20px 20px;
    margin: 20px 20px;
    position: relative;
}

/* Phần header với biểu tượng "C" */
.product-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-icon {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #007BFF, #00BFFF);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-label {
    margin-left: 10px;
    color: #555;
    font-size: 14px;
}

/* Nội dung chi tiết - CSS cho bảng */
.category-content table {
    width: 100%;
    border-collapse: collapse;
}

.category-content tr {
    border-bottom: 1px solid #E0F7FA; /* Viền xanh nhạt giữa các hàng */
}

.category-content tr:last-child {
    border-bottom: none; /* Loại bỏ viền dưới của hàng cuối cùng */
}

.category-content td {
    padding: 10px 0; /* Khoảng cách tương tự margin của <p> */
    font-size: 16px;
    color: #333;
}

.category-content strong {
    color: #007BFF;
    font-weight: bold;
    text-decoration: underline; /* Gạch chân xanh dương */
}

/* Nút tạo mới */
.btn-create {
    background: linear-gradient(to left, #007BFF, #149ae7);
    background-size: 200% 100%;
    transition: background-position 0.4s ease-in-out;
    margin-bottom: 20px;
}

.btn-create:hover {
    transition: 0.4s;
}

#delete-button {
    background: #FF4500 !important; 
    color: white !important; 
    border: red !important;
}

#delete-button:hover {
    background: #f06f40 !important; 
    color: white !important; 
    border: black !important;
}